{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>
{% if type == 'view' %}
<fieldset disabled>
    <div class="row disabled">
        <div class="col col-8">
            Название: <input type="text" value="{{ snippet.name }}" class="form-control">
        </div>
        <div class="col col-4">
            Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
        </div>
        <div class="col col-4">
            Код:<input type="text" value="{{ snippet.code }}" class="form-control">
        </div>
    </div>
    <hr>
 {% elif type == 'edit' %}
 <form action="" method="post">
    {% csrf_token %}
    <div class="row disabled">
        <div class="col col-8">
            Название: <input name="name" type="text" value="{{ snippet.name }}" class="form-control">
        </div>
        <div class="col col-4">
            Дата создания:<input name="creation_date" type="text" value="{{ snippet.creation_date }}" class="form-control">
        </div>
        <div class="col col-4">
            Код:<input name="code" type="text" value="{{ snippet.code }}" class="form-control">
        </div>
        <div class="col col-4">
            Код:<input name="pablic" value="True" type="checkbox" {% if snippet.pablic %} checked {% endif %} class="form-control">
        </div>
    </div>
    <button type="submit">Обновить</button>
</form>

 {% endif %}

{% endblock %}